<a href="https://colab.research.google.com/github/Dylan-Golden/CSC221_dgold015/blob/main/Assgnment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bicycles = ['trek','cannondale', 'redline', 'specialized']
print (bicycles)
print (bicycles[0])
print (bicycles[0].title())
print (bicycles[1])
print (bicycles[3])
print (bicycles[-1])
message = f"My first bicycle was a {bicycles[0].title()}"
print (message)

['trek', 'cannondale', 'redline', 'specialized']
trek
Trek
cannondale
specialized
specialized
My first bicycle was a Trek

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print (motorcycles)
motorcycles[0] = 'ducati'
print (motorcycles)
motorcycles.append('ducati')
print (motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print (motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print (motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print (motorcycles)
del motorcycles[1]
print (motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print (motorcycles)

popped_motorcycle = motorcycles.pop()
print (motorcycles)
print (popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print (f"the last motorcycle I owned was a {last_owned.title()}.")

the last motorcycle I owned was a Suzuki.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print (f"the first motorcycle I owned was a {first_owned.title()}")

the first motorcycle I owned was a Honda

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print (motorcycles)
motorcycles.remove('ducati')
print (motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print (motorcycles)

too_expensive = "ducati"
motorcycles.remove(too_expensive)
print (motorcycles)
print (f"\n A {too_expensive.title()} is to expenive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

 A Ducati is to expenive for me.

In [ ]:
#Try it
invite = ['Teddy Roosevelt', 'Ned Lecky', 'Paul Golden', 'JFK']
print (f"{invite[0]} would you like to go to dinner?")
print (f"{invite[1]} would you like to go to dinner?")
print (f"{invite[2]} would you like to go to dinner?")
print (f"{invite[3]} would you like to go to dinner?")
print (f"{invite[3]} will no longer be able to come.")
print ("---------------------------------------------------")
del invite[3]
invite.append('Nicola Tesla')
print (f"{invite[0]} would you like to go to dinner?")
print (f"{invite[1]} would you like to go to dinner?")
print (f"{invite[2]} would you like to go to dinner?")
print (f"{invite[3]} would you like to go to dinner?")
print ("---------------------------------------------------")

Teddy Roosevelt would you like to go to dinner?
Ned Lecky would you like to go to dinner?
Paul Golden would you like to go to dinner?
JFK would you like to go to dinner?
JFK will no longer be able to come.
--------------------------------------------------
Teddy Roosevelt would you like to go to dinner?
Ned Lecky would you like to go to dinner?
Paul Golden would you like to go to dinner?
Nicola Tesla would you like to go to dinner?
---------------------------------------------------

In [28]:
#Try it
invite = ['Teddy Roosevelt', 'Ned Lecky', 'Paul Golden', 'JFK']
print (f"{invite[0]} would you like to go to dinner?")
print (f"{invite[1]} would you like to go to dinner?")
print (f"{invite[2]} would you like to go to dinner?")
print (f"{invite[3]} would you like to go to dinner?")
print ("I have found a bigger table")
print ("----------------------------------------------------------")
invite.insert(0, 'Buggs bunny')
invite.insert(3, 'Daffy Duck')
invite.insert(6, 'Road Runner')
print (f"{invite[0]} would you like to go to dinner?")
print (f"{invite[1]} would you like to go to dinner?")
print (f"{invite[2]} would you like to go to dinner?")
print (f"{invite[3]} would you like to go to dinner?")
print (f"{invite[4]} would you like to go to dinner?")
print (f"{invite[5]} would you like to go to dinner?")
print (f"{invite[6]} would you like to go to dinner?")
print ("----------------------------------------------------------")
print ("sadly the new table will not be available in time, and I will now only be able to invite 2 people.")
Gone = invite.pop()
print (f"Sorry {Gone.title()} you are no longer invited")
Gone = invite.pop()
print (f"Sorry {Gone.title()} you are no longer invited")
Gone = invite.pop(0)
print (f"Sorry {Gone.title()} you are no longer invited")
Gone = invite.pop(0)
print (f"Sorry {Gone.title()} you are no longer invited")
Gone = invite.pop(0)
print (f"Sorry {Gone.title()} you are no longer invited")
print (f"{invite[0]} you are still invited")
print (f"{invite[1]} you are still invited")
del invite [0]
del invite [0]
print (invite)

Teddy Roosevelt would you like to go to dinner?
Ned Lecky would you like to go to dinner?
Paul Golden would you like to go to dinner?
JFK would you like to go to dinner?
I have found a bigger table
----------------------------------------------------------
Buggs bunny would you like to go to dinner?
Teddy Roosevelt would you like to go to dinner?
Ned Lecky would you like to go to dinner?
Daffy Duck would you like to go to dinner?
Paul Golden would you like to go to dinner?
JFK would you like to go to dinner?
Road Runner would you like to go to dinner?
----------------------------------------------------------
sadly the new table will not be available in time, and I will now only be able to invite 2 people.
Sorry Road Runner you are no longer invited
Sorry Jfk you are no longer invited
Sorry Buggs Bunny you are no longer invited
Sorry Teddy Roosevelt you are no longer invited
Sorry Ned Lecky you are no longer invited
Daffy Duck you are still invited
Paul Golden you are still invited
[]

In [29]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print (cars)

['audi', 'bmw', 'subaru', 'toyota']

In [31]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print (cars)

['toyota', 'subaru', 'bmw', 'audi']

In [32]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print ("here id the oriinal list:")
print (cars)

print ("\nhere is the sorted list:")
print (sorted(cars))

print ("\nhere is the original list again")
print (cars)

here id the oriinal list:
['bmw', 'audi', 'toyota', 'subaru']

here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

here is the original list again
['bmw', 'audi', 'toyota', 'subaru']

In [33]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print (cars)

cars.reverse()
print (cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [34]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [46]:
#Try it

places = ['japan', 'france', 'germany', 'italy', 'hawaii']

print (places)
print (sorted(places))
print (places)
print (sorted(places, reverse=True))
print (places)
places.reverse()
print (places)
places.reverse()
print (places)
places.sort()
print (places)
places.sort(reverse=True)
print (places)
print ("---------------------------------------------")
invite = ['Teddy Roosevelt', 'Ned Lecky', 'Paul Golden', 'JFK']
invite.insert(0, 'Buggs bunny')
invite.insert(3, 'Daffy Duck')
invite.insert(6, 'Road Runner')
len (invite)
print ("---------------------------------------------")
states = ['new york', 'texas', 'florida', 'california']
len (states)
print (states)
print (sorted(states))
states.reverse()
print (states)
states.sort()
print (states)
states.sort(reverse=True)
print (states)

['japan', 'france', 'germany', 'italy', 'hawaii']
['france', 'germany', 'hawaii', 'italy', 'japan']
['japan', 'france', 'germany', 'italy', 'hawaii']
['japan', 'italy', 'hawaii', 'germany', 'france']
['japan', 'france', 'germany', 'italy', 'hawaii']
['hawaii', 'italy', 'germany', 'france', 'japan']
['japan', 'france', 'germany', 'italy', 'hawaii']
['france', 'germany', 'hawaii', 'italy', 'japan']
['japan', 'italy', 'hawaii', 'germany', 'france']
---------------------------------------------
---------------------------------------------
['new york', 'texas', 'florida', 'california']
['california', 'florida', 'new york', 'texas']
['california', 'florida', 'texas', 'new york']
['california', 'florida', 'new york', 'texas']
['texas', 'new york', 'florida', 'california']

In [48]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print (motorcycles[-1])

suzuki

In [50]:
#Try it
cars = ['bmw', 'audi', 'toyota', 'subaru']
print (cars[4])

IndexError: ignored

In [61]:
sq3 =[]
for x in range(60, 85):
  #this is checking which numbers are divisible by 7
  if (x % 7 == 0):
    sq3.append (x**3)

print (sq3)

[250047, 343000, 456533, 592704]

In [79]:
# I trid to do the last question but I can not figure ot how to do it