<a href="https://colab.research.google.com/github/Dylan-Golden/CSC221_dgold015/blob/main/assignment16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.1
print ("hello world")
6000 + 4523.50 + 134.25
_+ 8192.75

hello world

24578.25

In [ ]:
#1.2
%%file hello.py
print ('hello world')

Writing hello.py

In [ ]:
#1.3
x: int =42
2 + 3 * 4

14

In [ ]:
principal = 1000
rate = 0.05
numyears = 5
year = 1
while year <= numyears:
  principal = principal * (1+rate)
  print (f'{year:>3d} {principal:0.2f}')
  year += 1

  1 1050.00
  2 1102.50
  3 1157.62
  4 1215.51
  5 1276.28

In [ ]:
#1.4
x = 1000
y = 500

print (x+y)
print (x-y)
print (x*y)
print (x/y)
print (x//y)
print (x**y)
print (x%y)

print (abs(x))

a = 0b11001001
mask = 0b11110000
x = (a & mask) >> 4
print (x)

1500
500
500000
2.0
2
1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
0
1000
12

In [ ]:
#1.5
a = 10
b =20
if a < b:
  print ('computer says yes')
else:
  print ('computer says no')

if a < b:
  pass
else:
  print ('computer says no')


x = 0
while x < 10:
  if x == 5:
    break
  print (x)
  x+=1

print ('Done')

computer says yes
0
1
2
3
4
Done

In [ ]:
#1.6

a = 'hello world'
b = "python is groovy"
c = '''computer says no.'''
d = """computer still says no."""

print(len(a))
b = a[4]
c = a[-1]
print (b)
print (c)
c = a[:5]
d = a[6:]
e = a[3:8]
f = a[-5:]
print (c, d, e, f)

11
o
d
hello world lo wo world

In [ ]:
%%file data.txt
test1
test2
test3
test4
test5
this file is not big enough for this

Overwriting data.txt

In [ ]:
#1.7
with open('data.txt') as f1:
  while True:
    chunk = f1.read(1)
    if not chunk:
      break
    print (chunk, end='')

test1
test2
test3
test4
test5
this file is not big enough for this

In [ ]:
#1.8
name = ['dave', 'paula', 'thomas', 'lewis']
a = name[2]
name[2] = 'tom'
print(name[-1])

a = [1, 'dave', 3.14, ['mark', 7, 9, [100,101]], 10]
print (a[1], a[3][2], a[3][3][1])

lewis
dave 9 101

In [ ]:
#1.9
holding = ('GOOG', 100, 490.10)
address = ('www.python.org', 80)

a = ()
b = ('item',)

print (holding, address)

('GOOG', 100, 490.1) ('www.python.org', 80)

In [ ]:
#1.10
names1 = {'IBM', 'MSFT', 'AA'}
names2 = set(['IBM', 'MSFT', 'HPE', 'IBM', 'CAT'])

print (names1)
print (names2)

{'MSFT', 'IBM', 'AA'}
{'CAT', 'MSFT', 'HPE', 'IBM'}

In [ ]:
#1.11
s = {
    'name' : 'GOOG',
    'shares' : 100,
    'price' : 490.10
}
name = s['name']
cost = s['shares'] * s['price']

print (name, cost)
s['shares'] = 75
s['date'] = '2007-06-07'

print (s)

GOOG 49010.0
{'name': 'GOOG', 'shares': 75, 'price': 490.1, 'date': '2007-06-07'}

In [ ]:
#1.12
#for n in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
  #print (f'2 to the {n} power is {2**n}')

for n in range(1,10):
  print (f'2 to the {n} power is {2**n}')

prices = {'GOOG' : 490.10, 'IBM' : 91.50, 'AAPL' : 123.15}
for key in prices:
  print (key, '=', prices[key])

2 to the 1 power is 2
2 to the 2 power is 4
2 to the 3 power is 8
2 to the 4 power is 16
2 to the 5 power is 32
2 to the 6 power is 64
2 to the 7 power is 128
2 to the 8 power is 256
2 to the 9 power is 512
GOOG = 490.1
IBM = 91.5
AAPL = 123.15

In [ ]:
#1.13
def remainder(a, b):
  q = a//b
  r = a-q*b
  return r
print (remainder(37,15))

debug = True
def read_data(filename):
  if debug:
    print ('reading', filename)

7

In [ ]:
#1.14
import threading
lock = threading.Lock()
lock.acquire()
try:
  print ("thing")
finally:
  lock.release()

thing

In [ ]:
#1.15
raise SystemExit()
raise SystemExit("Something is wrong")

import atexit

connection = open_connection("deaddot.com")

def cleanup():
  print ("going away")
  close_connection(connection)

atexit.register(cleanup)

SystemExit: ignored

In [ ]:
#1.16
items = [37,42]
items.append(73)
print (items)

items = [37,42]
items.__add__([73,101])
print (items)

class Stack:
  def __init__(self):
    self._items = [ ]
  def push(self, item):
    self._items.append(item)
  def pop(self):
    return self._items.pop()
  def __repr__(self):
    return f'<{type(self).__name__} at ox{id(self):x}, size={len(self)}>'
  def __len__(self):
    return len(self._items)

s = Stack()
s.push('dave')
s.push(42)
s.push([3, 4, 5])
x = s.pop()
y = s.pop()

[37, 42, 73]
[37, 42]

In [ ]:
#1.17
import csv

def read_portfolio(filename):
  portfolio = []
  with open(filename) as file:
    rows = csv.reader(file)
    for row in rows:
      try:
        name = row[0]
        shares = int(row[1])
        price = float(row[2])
        holding = (name, shares, price)
        portfolio.append(holding)
      except  ValueError as err:
        print ('Bad row', row)
        print ('reason', err)
  return portfolio

In [ ]:
#1.18
def main(argv):
  if len(argv) == 1:
    filename = input('enter filename: ')
  elif len(argv) == 2:
    filename = argv[1]
  else:
    raise SystemExit(f'usage: {argv[0]} [filename]')
  portfolio = read_portfolio(filename)
  for name, shares, price in portfolio:
    print (f'{name:>10s} {shares:>10d} {price:10.2f}')

if __name__ == '__main__':
  import sys
  main(sys.argv)

SystemExit: ignored

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
#1.19
# i dont think 1.19 cant be done in a colab

In [ ]:
#1.20
# I understand what 1.20 is saying

In [1]:
#1.21
import pandas
pandas.__file__

'/usr/local/lib/python3.10/dist-packages/pandas/__init__.py'