<a href="https://colab.research.google.com/github/Dylan-Golden/CSC221_dgold015/blob/main/Dylan_golden_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
alien_0 = {'color':'green', 'points': 5}

print (alien_0['color'])
print (alien_0['points'])

green
5

In [ ]:
alien_0 = {'color':'green', 'points': 5}

new_points = alien_0['points']
print (f"you just earned {new_points} points!")

you just earned 5 points!

In [ ]:
alien_0 = {'color':'green', 'points': 5}
print (alien_0)

alien_0['x_position'] = 0
alien_0['y_position'] = 25
print (alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [ ]:
alien_0 = {}

alien_0['color'] = 'green'
alien_0['points'] = 5

print (alien_0)

{'color': 'green', 'points': 5}

In [ ]:
alien_0 = {'color': 'green'}
print (f"the alien is {alien_0['color']}")
alien_0['color'] = 'yellow'
print (f"the alien is now {alien_0['color']}")

the alien is green
the alien is now yellow

In [ ]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print (f"Original position: {alien_0['x_position']}")

if alien_0['speed'] == 'slow':
  x_increment = 1
elif alien_0['speed'] == 'medium':
  x_increment = 2
else:
  x_increment = 3

alien_0['x_position'] = alien_0['x_position'] + x_increment
print (f"new position {alien_0['x_position']}")

Original position: 0
new position 2

In [ ]:
favorite_languages = {
      'jen': 'python',
      'sarah': "c",
      'edward': 'rust',
      'phil': 'python',
}

language = favorite_languages['sarah'].title()
print (f"sarah's favorite language is {language}")

sarah's favorite language is C

In [ ]:
#try it 6-1
person = {
   'first_name': 'Nathan',
   'last_name': 'Donton',
   'age': '17',
   'city': 'plattsburh',
}
print (person['first_name'])
print (person['last_name'])
print (person['age'])
print (person['city'])

Nathan
Donton
17
plattsburh

In [ ]:
#try it 6-2
fav_num = {
    'nate': '12',
    'dylan': '23',
    'thomas': '40',
    'chase': '7',
}
print (f"Nate: {fav_num['nate']}")
print (f"Dylan: {fav_num['dylan']}")
print (f"Thomas: {fav_num['thomas']}")
print (f"Chase: {fav_num['chase']}")

Nate: 12
Dylan: 23
Thomas: 40
Chase: 7

In [2]:
#try it 6-3  pg 99
glossary = {
    'list': 'makes a list into which objects can be added or removed',
    'tuple': 'like a list but objects can not be added or removed',
    'if': 'used to make a set of conditions hat when met will do somethng',
    'for': 'iterates over the members of a sequence in order, executing the block each time.',
    'print': 'prints out whatever you put in the parantheses',
}

print (f"List: {glossary['list']}")
print (f"Tuple: {glossary['tuple']}")
print (f"If: {glossary['if']}")
print (f"For: {glossary['for']}")
print (f"Print: {glossary['print']}")

List: makes a list into which objects can be added or removed
Tuple: like a list but objects can not be added or removed
If: used to make a set of conditions hat when met will do somethng
For: iterates over the members of a sequence in order, executing the block each time.
Print: prints out whatever you put in the parantheses

In [3]:
user_0 = {
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi',
}

for key, value in user_0.items():
  print (f"\nKey: {key}")
  print (f"Value: {value}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [4]:
favorite_languages = {
      'jen': 'python',
      'sarah': "c",
      'edward': 'rust',
      'phil': 'python',
}

for name, language in favorite_languages.items():
  print (f"{name.title()}'s favorite language is {language.title()}.")

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Rust.
Phil's favorite language is Python.

In [6]:
#try it 6-4
#try it 6-3  pg 99
glossary = {
    'list': 'makes a list into which objects can be added or removed',
    'tuple': 'like a list but objects can not be added or removed',
    'if': 'used to make a set of conditions hat when met will do somethng',
    'for': 'iterates over the members of a sequence in order, executing the block each time.',
    'print': 'prints out whatever you put in the parantheses',
    'len': 'gets the length of a list or string',
    'while': 'loops until a certain requirment is met',
    'str': 'turns an object into a string',
    'int': 'turns an object into a integer',
    'class': 'tells you the class of an item',
}

for term, definition in glossary.items():
  print (f"{term.title()}:\n {definition.title()}.")

List:
 Makes A List Into Which Objects Can Be Added Or Removed.
Tuple:
 Like A List But Objects Can Not Be Added Or Removed.
If:
 Used To Make A Set Of Conditions Hat When Met Will Do Somethng.
For:
 Iterates Over The Members Of A Sequence In Order, Executing The Block Each Time..
Print:
 Prints Out Whatever You Put In The Parantheses.
Len:
 Gets The Length Of A List Or String.
While:
 Loops Until A Certain Requirment Is Met.
Str:
 Turns An Object Into A String.
Int:
 Turns An Object Into A Integer.
Class:
 Tells You The Class Of An Item.

In [7]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]
for alien in aliens:
  print (alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [10]:
users = {
    'aeinstein': {
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton',
    },

    'mcurie':  {
        'first': 'marie',
        'last': 'curie',
        'location': 'paris',
    },
}

for username, user_info in users.items():
  print (f"\nUsername: {username}")
  full_name = f"{user_info['first']} {user_info['last']}"
  location = user_info['location']

  print (f"\tfull name: {full_name.title()}")
  print (f"\tLocation: {location.title()}")

Username: aeinstein
	full name: Albert Einstein
	Location: Princeton

Username: mcurie
	full name: Marie Curie
	Location: Paris

In [14]:
# try it 6-11
cities = {

    'plattsburgh': {
        'location': 'New york',
        'population': '19,909',
        'fact': 'it is were the battle of plattsburgh took place.',
    },

    'austin': {
        'location': 'texas',
        'population': '964,177',
        'fact': 'has the largest urban bat colony in north america',
    },
    'orlando': {
        'location': 'florida',
        'population': '304,154',
        'fact': 'home to more than 100 lakes',
    },


  }

for places, info in cities.items():
  print (f"City: {places.title()}")
  location = info['location']
  population = info['population']
  fact = info['fact']
  print (f"Location: {location.title()}")
  print (f"population: {population.title()}")
  print (f"Fact: {fact.title()}")
  print ("--------------------------------------")

City: Plattsburgh
Location: New York
population: 19,909
fact: It Is Were The Battle Of Plattsburgh Took Place.
--------------------------------------
City: Austin
Location: Texas
population: 964,177
fact: Has The Largest Urban Bat Colony In North America
--------------------------------------
City: Orlando
Location: Florida
population: 304,154
fact: Home To More Than 100 Lakes
--------------------------------------

In [17]:
#try it 6-12
fav_thing = {
    'nate': {
        'num': '12',
        'hobbie': 'watching anime',
        'game': 'Destiny 2',
    },
    'dylan': {
        'num': '23',
        'hobbie': 'playing video games',
        'game': 'Destiny 2',
    },
    'thomas': {
        'num': '40',
        'hobbie': 'vehicle mechanics',
        'game': 'CSGO',
    },
    'chase': {
        'num': '7',
        'hobbie': 'cooking',
        'game': 'Deep Rock Galactic'
    },
}
for name, info in fav_thing.items():
  print (f"Name: {name.title()}")
  num = info['num']
  hobbie = info['hobbie']
  game = info['game']
  print (f"Favorite num: {num.title()}")
  print (f"Favorite hobbie: {hobbie.title()}")
  print (f"Favorite game: {game.title()}")
  print ("------------------------------------")

Name: Nate
Favorite num: 12
Favorite hobbie: Watching Anime
Favorite game: Destiny 2
------------------------------------
Name: Dylan
Favorite num: 23
Favorite hobbie: Playing Video Games
Favorite game: Destiny 2
------------------------------------
Name: Thomas
Favorite num: 40
Favorite hobbie: Vehicle Mechanics
Favorite game: Csgo
------------------------------------
Name: Chase
Favorite num: 7
Favorite hobbie: Cooking
Favorite game: Deep Rock Galactic
------------------------------------